<br />
<div class="alert alert-danger" role="alert" *ngIf=possuiErro>
  Erro obtendo dados. Tente novamente.
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    Selecione a unidade de temperatura a ser convertida
  </div>
  <div class="panel-body text-center">
    <form #conversaoForm="ngForm" class="form-inline">
      <input type="text" name="valor" class="form-control text-right" placeholder="0" required [(ngModel)]="conversao.valor">
      <select name="unidadeDe" class="form-control" [(ngModel)]="conversao.unidadeDe" required >
        <option *ngFor="let medida of medidas" [value]="medida.sigla">
          {{medida.sigla}} - {{medida.descricao}}

        </option>

      </select>
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      <select name="unidadePara" class="form-control" required [(ngModel)]="conversao.unidadePara">
			<option *ngFor=" let medida of medidas" [value]="medida.sigla">
        {{medida.sigla}} - {{medida.descricao}}

			</option>
      </select>
      <input type="submit" value="Converter" class="btn btn-success" data-toggle="modal"  data-target="#modal-conversao" (click)="converter()" [disabled]="!conversaoForm.form.valid">
    </form>
    <modal-conversao [id]="'modal-conversao'" [conversao]="conversao" (onConfirm)="init()">
    </modal-conversao>
  </div>
</div>
